@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


h1,h2,h3,strong {
  font-family: 'Montserrat', sans-serif;
}

a,p,label,input,legend{
    font-family: 'Poppins', sans-serif;
}

.base-light {
    background-color: #FFFCF0;
}
.light{
    color: #FFFCF0; 
}
.dark {
    color: #122F2C;
}
.red{
    color: #D14D41;
}

.red-100{
    background-color: #FFCABB;
}
.red-400{
    background-color: #D14D41;
}
.red-900{
    background-color: #3E1715;
}
.orange-100{
    background-color: #FED3AF;
}
.orange-400{
    background-color: #DA702C;
}
.orange-900{
    background-color: #40200D;
}
.yellow-100{
    background-color: #F6E2A0;
}
.yellow-400{
    background-color: #D0A215;
}
.yellow-900{
    background-color: #3A2D04;
}
.green-100{
    background-color: #DDE2B2;
}
.green-400{
    background-color: #879A39;
}
.green-900{
    background-color: #252D09;
}
.cyan-100{
    background-color: #BFE8D9;
}
.cyan-400{
    background-color: #3AA99F;
}
.cyan-900{
    background-color: #122F2C;
}
.blue-100{
    background-color: #C6DDE8;
}
.blue-400{
    background-color: #4385BE;
}
.blue-900{
    background-color: #12253B;
}
.border-color{
    border-color: #100F0F1A; /* 10% de opacidad */

}
.black-opacity-10{
    background-color: #100F0F1A; /* 10% de opacidad */
}


.bg-hover-custom-red-400:hover{
    background-color: #D14D41;
}

.bg-hover-custom-green-400:hover{
    background-color : #879A39
}

.bg-hover-custom-green-900:hover{
    background-color : #252D09
}

.bg-hover-custom-orange-900:hover{
    background-color : #40200D
}

.bg-hover-custom-blue-400:hover{
    background-color : #12253B
}

.nav-item-hover-active:hover{
    color: #D14D41;
}